.Cscreen{
    width: 398px;
    height: 170px;
    margin: 0px;
    
    span{
        display: block;
        text-align: right;
        padding-right: 5px;
        padding-top: 120px;
        font-size: 40px;
    }
}